<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<%- include("../partials/head") %>
		<link type="text/css" rel="stylesheet" href="CSS/book.css" />
	</head>

	<body>
		<header>
			<%- include("../partials/navbar") %>
			<div class="custom-nav">
				<h1><%= name %></h1>
			</div>
		</header>

		<main>
			<div class="content">
				<h2 class="title">-كتاب <%= name %> :</h2>
				<div>
					<% if (description && description.length) { %>
					<p class="description"><%= description %>.</p>
					<% } else { %>
					<p>لا يوجد وصف لهذا الكتاب حالياً</p>
					<% } %>
					<!--  -->
					<% if (wiki && wiki.length) { %>
					<a class="wiki-link" href="<%= wiki %>">صفحة الكتاب على ويكيبديا</a>
					<% } %>
				</div>
				<!-- TODO add some contribute to add missing content -->
				<div class="about">
					<h3>-معلومات عن الكتاب:</h3>
					<div class="details-table">
						<div class="grid-table">
							<div class="title thead thead-dark">العنوان</div>

							<div class="pub thead thead-light">الناشر</div>

							<div class="pub-year thead thead-dark">سنة النشر</div>

							<div class="category thead thead-light">الفئة</div>

							<div class="pages thead thead-dark">عدد الصفحات</div>

							<div class="copy thead thead-light">نوع الطبعة</div>

							<div class="title-result tbody tbody-dark"><%= name %></div>

							<div class="pub-result tbody tbody-light"><%= publisher %></div>

							<div class="pub-year-result tbody tbody-dark"><%= publishing_year %></div>

							<div class="category-result tbody tbody-light"><%= subject %></div>

							<div class="pages-result tbody tbody-dark"><%= pages_count %></div>

							<div class="copy-result tbody tbody-light"><%= copy_type %></div>
						</div>
					</div>
				</div>
				<div class="quotes">
					<h3>-إقتباسات من الكتاب:</h3>
					<% if (quotes && quotes.length) { %>
					<ul>
						<% for( let i = 0; i < quotes.length; i++ ) { %>
						<li>- <%= quotes[i].content %></li>
						<% } %>
					</ul>
					<% } else {%>
					<p class="missing-content-notice">لا يوجد إقتباسات من هذا الكتاب حالياً</p>
					<% } %>
				</div>
				<hr />
				<div class="chapters">
					<h3>-فصول الكتاب:</h3>
					<% if (chapters && chapters.length) { %>
					<ul>
						<% for( let i = 0; i < chapters.length; i++ ) { %>
						<li><span><%= chapters[i].chapter_number %></span> - <%= chapters[i].chapter_name %></li>
						<% } %>
					</ul>
					<% } else {%>
					<p class="missing-content-notice">فصول الكتاب غير متاحة حالياً</p>
					<% } %>
				</div>
			</div>

			<aside>
				<figure>
					<img src="<%= img %>" alt="صورة كتاب <% name %>" />

					<figcaption>صورة غلاف <%= name %></figcaption>
				</figure>
			</aside>
		</main>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
